.box {
    position: relative;
    display: block;
    background:green;
    width: 100px;
    height: 100px;
    animation-name: inventado;
    animation-duration: 4s;
    animation-iteration-count: infinie;
    border-radius: 50%;
 
}

@keyframes inventado {
    0% {background: green;}
    25% {background: black;}
    50% {background: yellow;}
    75% {background: blue;}
    100% {background: red;}
}

